/* add css custom properties */
:root {
  --mainFont: 'Krub', sans-serif;

  /* theme */
  --white: #fff;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gray: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
}

/* responsive images */
img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}

h3 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
